@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root {
    /* Colors */
    --black: #040714;
    --grey: #787a91;
    --grey-second: #d8b9c3;
    --grey-second-dark: #d8b9c344;
    --white: #f9f9f9;
    --background: #040714;
    --background-alt: #334756;
    --dark-blue: #0f044c;
    --grayish-blue: #6e85b2;
    
    /* Social Icons Colors */
    --github: white;
    --linked-in: #0a66c2;
    --twitter: #1da1f2;

    /* sidebar sociallinks icon color */
    --link-icon-color: #1E5F74;
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    background-position: relative;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: white;
}

a {
    color: #f9f9f9;
    text-decoration: none;
}