@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root {
    /* Colors */
    --black: #040714;
    --grey: #787a91;
    --grey-second: #d8b9c3;
    --grey-second-medium: #d8b9c388;
    --grey-second-dark: #d8b9c344;
    --white: #f9f9f9;
    --background: #040714;
    --background-alt: #334756;
    --dark-blue: #0f044c;
    --midnight-blue: #16213e;
    --grayish-blue: #6e85b2;

    /* Social Icons Colors */
    --github: white;
    --linked-in: #0a66c2;
    --twitter: #1da1f2;

    /* sidebar sociallinks icon color */
    --link-icon-color: #1E5F74;
    --link-icon-color-dark: #1E5F7477;


    /* Skill Cards */
    --gradient-dark-green: #194B45;
    --prog-bar-light-green: #00917C;
    --prog-bar-light-blue: #1976d2;
    --badged-hover-bg-color: #061444;
    --badged-hover-bg-color-2: #19294b;
    --cyan: #3AE7AB;

    /* Certificate Cards*/
    --company-color: rgb(37, 99, 235);

    /* Tech Badges */
    --tech-badge-bg: #388bfd26;
    --tech-badge-text: #58a6ff;
}

html {
    scroll-behavior: smooth;
    position: relative;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    background-position: relative;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: white;
}

a {
    color: #f9f9f9;
    text-decoration: none;
}